/* CSS file */

@font-face {
    /*src:url("assets/maritam.ttf");*/
    /*src:local("Marita Medium - HMK");*/
    src:local("Monaco");
    fontFamily: console;
    fontWeight: normal;

    unicodeRange: U+0020-U+007E;
}

@font-face {
    src:local("FFF Spacedust");
    fontFamily: main;
    unicodeRange: U+0020-U+007E;
}

global {
    /*modalTransparencyBlur: 10;*/
    modalTransparency: 0.5;
    modalTransparencyDuration: 750;
    themeColor: #b7babc;
    fontFamily: main;
    fontSize: 8;
    fontColor: #000000;
}

Panel {
   cornerRadius: 7;
   highlightAlphas: 0.5, 0;
   shadowDistance: 3;
}

Application {
    backgroundGradientAlphas: 0, 0;
}

TextInput {
   borderStyle: solid;
   borderColor: #eeeeee;
   backgroundColor: #dddddd;
   cornerRadius: 9;
   color: #000000;
   paddingLeft: 3;
   paddingRight: 0;
   fontFamily: console;
   textAlign: "center";
}

Text {
	fontSize: 8;
	fontFamily: main;
	/*fontWeight: "bold";*/
	color: #000000;
}

Button {
   cornerRadius: 7;
   paddingBottom: 3;
   highlightAlphas: 0, 0;
   fillAlphas: 1, 1, 1, 1;
   fillColors: #ffffff, #ffffff, #dddddd, #dddddd;
   color: #333333;
   textRollOverColor: #000000;
   textSelectedColor: #000000;
   borderColor: #999999;
   themeColor: #999999;
   fontSize: 14;
   fontWeight: normal;
}

Alert {
   fontSize: 16;
   color: #000000;
}

ToolTip {
    font-size: 16;
    color: #000000;
    cornerRadius: 7;
    background-color: #FFFFFF;
    background-alpha: 0.85;
}
